.notificationContainer{
    background-color: #010800;
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(10%);
    z-index: 1000;
    border: #940294 solid 1px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: #5555;
    padding: 10px;
    margin: 5px;

}
.closeBtn{

    background-color: #cccc;
    border-radius: 12px;
    width: 64px;
    box-shadow: #cccc;
    border: 1px solid #5530;

}
.closeBtn:hover{
    transform: translate(10px,10px);
    transform: scale(1px);
    background-color: #f20f2f;
}